/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
@import "blueprint";
@import "blueprint/typography";

$blueprint_grid_columns:24;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 10px;
$blueprint-font-size: 18px;
/*$blueprint-container-size: $blueprint-grid-outer-width * $blueprint-grid-columns - $blueprint-grid-margin; */

/* page shortcuts */
$page_width:$blueprint-container-size;
$col_width: $blueprint-grid-outer-width;
$gutter_width: $blueprint-grid-margin;
$beta_red:#CB602C;
$beta_orange:#d67f2a;
$beta_blue:#199ccd;
$beta_green:rgba(119,173,56,1.0);

@include blueprint-typography;

section.site-links{
  height:$col_width;
  background:black;
  margin-bottom: $gutter_width;
  @include single-box-shadow();
  nav{
      width:$page_width;
      margin:0px auto;
    ul{
      padding-top:$gutter_width;
      margin:0;
      li{
        list-style:none;
        display:inline;
        margin-right:$gutter_width*3;
        &.current{
          background:$beta_blue;
          padding:13px;
          @include single-box-shadow();
          a{
            @include link-colors(white,white);
          }
        }
        a{
          text-decoration:none;
          @include link-colors(white,$beta_blue);
        }
      }
      li.register{
        font-weight:bold;
        width: 6*$col_width;
        background:$beta_red;
        float: right;
        text-align: center;
        padding: 1.5*$gutter_width;
        margin-top: -$gutter_width;
        margin-right:0;
        @include single-box-shadow();
        letter-spacing:2px;
        a{
          @include link-colors(white,black);
        }
      }
    }
  }
}
.ribbons{
  @include container;
  z-index:1;
  canvas{
    position:absolute;
    margin-left:-140px;
  }
}

#wrapper_container{
  position:absolute;
  width:100%;
}
#container{
  @include container;
  z-index:10;
  & > header{
    z-index:9;
    .date{
      color:#888;
      margin-bottom: 2*$gutter_width;
      @include single-text-shadow();
      a{
        @include unstyled-link;
        @include hover-link;
        @include link-colors(#888,$beta_blue);
      }
    }
    .logo{
      h1{display:none; /*use image instead of text*/}
    }
    .view-source{
        float: right;
        background:transparentize(black,.6);
        margin-top:-3*$gutter_width;
        padding:$gutter_width/2 $gutter_width;
        @include single-text-shadow();
        font-size:80%;
        a{
          text-decoration:none;
          @include link-colors(white,$beta_red);
        }
    }

  }

section{
        @include single-text-shadow();
}

  $promo_number_columns:8;
  $promo_append_columns:1;
  section.promo{
    margin-top:8*$gutter_width;
    @include column($promo_number_columns);
    @include append($promo_append_columns);
    header{
      padding: 2*$gutter_width;
      margin-bottom: $gutter_width/2;
      background:transparentize(#bde200,.2);
      @include single-box-shadow();
      a{
        text-decoration:none;
        @include link-colors(black,$beta_red);
        @include text-shadow;
        font-weight:bold;
      }
    }
    footer{
      padding: 2*$gutter_width;
      background:$beta_green;
      text-align:center;
      @include single-box-shadow();
      a{
        color:white;
        text-decoration:none;
        font-size:120%;
        font-weight:bold;
        @include link-colors(white,black);
      }
    }
  }
  section.description{
    background:transparentize($beta_blue,.2);
    color:white;
    @include column($blueprint_grid_columns - $promo_append_columns - $promo_number_columns,true);
    font-size:130%;
    @include single-box-shadow();
    & > div{
      padding: 2*$gutter_width;
      padding-right: 12*$gutter_width;
      letter-spacing:4px;
    }
  }
  /*TODO: dry these next two up with a mix-in, they're almost the same*/
  section.overview{
    @include column(11);
    @include append(2);
    header{
      padding: $gutter_width;
      background:$beta_orange;
      color:white;
      font-weight:bold;
      margin-bottom:$gutter_width;
     @include single-box-shadow();
    }
    footer{
      background:$beta_blue;
      font-size:120%;
      padding:$gutter_width;
      text-align:right;
      @include single-box-shadow();
      @include single-text-shadow();
      a{
        text-decoration:none;
        @include link-colors(white,black);
      }
    }
  }
  section.locations{
    @include column(11,true);
    header{
      padding: $gutter_width;
      background:$beta_orange;
      color:white;
      font-weight:bold;
      margin-bottom:$gutter_width;
      @include single-box-shadow();
    }
  }
  section.whos-there,.overview-locations{
    margin-top:8*$gutter_width;
    @include column(24,true);
    ul{
      font-size:14px;
      line-height:$gutter_width+14px+8px;/*$blueprint-font-size+1px;*/
      li{
        display:inline;
        padding: $gutter_width/2 $gutter_width;
        margin-right: $gutter_width/2;
        color:white;
        @include single-box-shadow();
        &.color0{background:$beta_red;}
        &.color1{background:$beta_orange;}
        &.color2{background:$beta_green;}
        &.color3{background:$beta_blue;}
        a{
          @include link-colors(white,black);
          text-decoration:none;
        }
      }
    }
  }
}
