/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
@import "blueprint";
@import "blueprint/typography";

$blueprint_grid_columns:24;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 10px;
$blueprint-font-size: 14px;
/*$blueprint-container-size: $blueprint-grid-outer-width * $blueprint-grid-columns - $blueprint-grid-margin; */

/* page shortcuts */
$page_width:$blueprint-container-size;
$col_width: $blueprint-grid-outer-width;
$gutter_width: $blueprint-grid-margin;
$beta_red:#CB602C;
$beta_orange:#d67f2a;
$beta_blue:#199ccd;
$beta_drkgreen:rgba(119,173,56,1.0);
$beta_green:#bde200;

$default-box-shadow-color: #CCC;
$default-box-shadow-h-offset: 0px;
$default-box-shadow-v-offset: 4px;
$default-box-shadow-blur: 4px;


.ie6,.ie7,.ie8{
  #container{
    section.whos-there{
      ul{
        li{
          /*ie doesn't support inline-block*/
          display:inline;
          padding: 5px 10px;
          margin-right: 5px;
          }
      }
    }
  }
}

@include blueprint-typography;
@mixin section-block($top-color:$beta_orange, $bottom-color:$beta_blue){
  &{
    margin-top:-50px;
    header{
      padding: $gutter_width $gutter_width * 1.5 $gutter_width * .8;
      background:transparentize($top-color,.2);
      font-size:120%;
      color:white;
      font-weight:bold;
      margin-top:$gutter_width;
    }
    footer{
      background:$bottom-color;
      font-size:120%;
      font-weight:bold;
      color:white;
      padding:$gutter_width $gutter_width * 1.5;
      text-align:right;
      @include single-box-shadow();
      @include single-text-shadow();
      a{
        text-decoration:none;
        @include link-colors(white,black);
      }
    }
  }
}

@mixin note-corner($bgcolor){
  &{
      position:relative;
      background:$bgcolor;
      //padding:1em 1.5em;
      //margin:2em auto;
      overflow:hidden;
  }
  &:before {
      $fold_color:darken(opacify($bgcolor,1),30%);
      content:"";
      position:absolute;
      top:0;
      right:0;
      border-width:0 16px 16px 0; /* This trick side-steps a webkit bug */
      border-style:solid;
      border-color:#fff #fff $fold_color $fold_color; /* A bit more verbose to work with .rounded too */
      background:$fold_color; /* For when also applying a border-radius */
      display:block; width:0; /* Only for Firefox 3.0 damage limitation */
      /* Optional: shadow */
      -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
         -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
              box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  }
}




body{
font-family: 'Numans', sans-serif;
}
section.site-links{
  height:$col_width;
  background:black;
  margin-bottom: 3.5*$gutter_width;
  @include single-box-shadow();
  nav{
      width:$page_width;
      margin:0px auto;
    ul{
      padding-top:$gutter_width;
      margin:0;
      li{
        list-style:none;
        display:inline;
        margin-right:$gutter_width*3;
        &.current{
          background:$beta_blue;
          padding:13px;
          @include single-box-shadow();
          a{
            @include link-colors(white,white);
          }
        }
        &.current.schedule{color:$beta_orange;}
        &.current.presenters{color:$beta_green;}
        &.current.about{color:$beta_drkgreen;}

        a{
          text-decoration:none;
          @include link-colors(white,$beta_blue);
        }
      }
      li.register{
        width: 6*$col_width;
        background:$beta_red;
        float: right;
        text-align: center;
        padding: 1.5*$gutter_width;
        margin-top: -$gutter_width;
        margin-right:0;
        @include single-box-shadow();
        font-size:120%;
        @include border-bottom-radius(2px);
        a{
          @include link-colors(white,black);
        }
      }
    }
    .date{
      color:#888;
      margin-top: 1.5*$gutter_width;
      margin-bottom: 1.5*$gutter_width;
      @include single-text-shadow();
      a{
        @include unstyled-link;
        @include hover-link;
        @include link-colors(#888,$beta_blue);
      }
    }
  }
}
.ribbons{
  @include container;
  z-index:1;
  canvas{
    position:absolute;
    margin-left:-140px;
  }
}

#wrapper_container{
  position:absolute;
  width:100%;
}
#container{
  @include container;
  z-index:10;
  & > header{
    margin-top:4*$gutter_width;
    z-index:9;
    
    .logo{
      margin-bottom:$gutter_width*8;
      h1{display:none; /*use image instead of text*/}
    }
    .view-source{
        float: right;
        background:transparentize(black,.6);
        margin-top:-4*$gutter_width;
        padding:$gutter_width/2 $gutter_width;
        border-radius: 4px;
        -moz-border-radius: 4px;
        @include single-text-shadow();
        font-size:80%;
        a{
          text-decoration:none;
          @include link-colors(white,$beta_red);
        }
    }

  }

section{
        @include single-text-shadow();
}

  $promo_number_columns:8;
  $promo_append_columns:1;
  section.promo{
    margin-top:4*$gutter_width;
    @include column($promo_number_columns);
    @include append($promo_append_columns);
    header{
      padding: 2*$gutter_width;
      margin-bottom: $gutter_width;
      @include note-corner(transparentize($beta_green,.2));
      //@include note-corner($beta_green);
      @include single-box-shadow();
      a{
        text-decoration:none;
        @include link-colors(black,$beta_red);
        @include text-shadow;
        font-weight:bold;
      }
    }
    footer{
      padding: 1.6*$gutter_width 1*$gutter_width 1.3*$gutter_width;
      background:$beta_drkgreen;
      text-align:center;
      @include single-box-shadow();
      a{
        color:white;
        text-decoration:none;
        font-size:120%;
        font-weight:bold;
        @include link-colors(white,black);
      }
    }
  }
  section.description{
    background:transparentize($beta_blue,.2);
    color:white;
    a{
      @include link-colors(white,white);
      @include single-text-shadow;
      text-decoration:none;
    }
    @include column($blueprint_grid_columns - $promo_append_columns - $promo_number_columns,true);
    @include single-box-shadow();
    .current-blog{
      padding: 3.5*$gutter_width 3.2*$gutter_width 0;
      font-size:180%;
      line-height:140%;
      font-weight:bold;
    }
    .more-blog{
      padding: .5*$gutter_width 3.2*$gutter_width 3.2*$gutter_width;
      text-align:right;
    }
  }
  
  section.overview{
    @include column(12,true);
    @include section-block();
    table {
        margin-bottom:0;
      }
  }
  section.locations{
    @include column(11);
    @include append(1);
    @include section-block($beta_red,$beta_orange);
    iframe {
      width:100%;
    }
  }
  section.whos-there,.overview-locations{
    margin-top:8*$gutter_width;
    @include column(24,true);
    ul{
      font-size:14px;
      padding: 0;
      line-height:$gutter_width+14px+8px;/*$blueprint-font-size+1px;*/
      li{
        display: inline-block;
        padding: 0px 7px;
        margin-right: $gutter_width/2;
        margin-bottom: $gutter_width;

        color:white;
        /*@include single-box-shadow();*/
        &.color0{background:$beta_red;}
        &.color1{background:$beta_orange;}
        &.color2{background:$beta_drkgreen;}
        &.color3{background:$beta_blue;}
        a{
          @include link-colors(white,black);
          text-decoration:none;
        }
      }
    }
  }
  section.sponsorship{
    @include column(24,true);
    margin-top:8*$gutter_width;
    h5{
      margin-top:2*$gutter_width;
      font-size:110%;
    }
    .sponsors{
      @include column(8);
    }
    .partners{
      @include column(8);
    }
    .supporters{
      @include column(8,true);
    }
  }
  section.twitter{
    @include column(24,true);
    margin-top:8*$gutter_width;
    .twtr-hd,.twtr-ft{display:none;}
    #tweet-id-3{border-bottom:none;@include column(8);}
    #tweet-id-2{border-bottom:none;@include column(8);}
    #tweet-id-1{border-bottom:none;@include column(7,true);}
    .twtr-timeline{height:auto;}
  }
  section.about{
    @include prepend(6);
    @include column(18,true);
    @include single-box-shadow;
    background:transparentize($beta_green,.2);
    padding: 4*$gutter_width;
    margin-left: 140px;
    margin-bottom: 4*$gutter_width;
  }
  section.coordinators{
  @include column(24,true);
  .coordinator{
      @include column(12,true);
      height: 250px;
      aside{
        @include column(4);
      }
      & > div{
        @include column(6,true);
        @include append(2);
      }
  }
  }
  .credits{
      @include column(24,true);
      margin:8*$gutter_width 0 3*$gutter_width;
      color:#888;
      font-size:85%;
      @include single-text-shadow();
      a{
        @include unstyled-link;
        @include hover-link;
        @include link-colors(#888,$beta_blue);
      }
  }
}

@import "blog";

.blog{

  section.blog{
      @include column(14,true);
      @include append(2);
  }
  aside.blog-sidebar{
      @include prepend(1);
      @include column(6,true);
      @include append(1);
      @include single-box-shadow;
      background:$beta_green;
      padding-top:$col_width;
      padding-bottom:$col_width;
  }

}
