---
layout: default
title: betascape final schedule 2011
 
---
<script>
$(function(){
  betascape.changeCurrent('schedule')

  betascape.getPresenters(function(presenters){
      var byPresentType=_.groupBy(presenters,function(presentor){return presentor.lectureType;});
      var listTmpl=_.template($('#final-schedule-template').html());
      var html=listTmpl({byPresentType : byPresentType});
      $('.finalSchedule').append(html);
  });
});

</script>
<script type="template" id="final-schedule-template">

  <% for(var presentType in byPresentType){ %>
   	<% var people=byPresentType[presentType]; %>
   	<% people.sort(function(a,b) { return parseFloat(a.trackNumber) - parseFloat(b.trackNumber) } ); %>
    
    <header><%= presentType %></header>
    <table>
		<tr>
			<td width="4%" class="start"><strong>Starts</strong></td>
			<td width="4%" class="end"><strong>Ends</strong></td>
			<td width="46%" class="lectures">
				<strong><%= presentType %></strong>
			</td>
		</tr>
      

		<% _.each(people, function(person) { %>
	      <tr>
	        <td width="4%" class="start"><%= person.startTime %></td>
	        <td width="6%" class="end"><%= person.endTime %></td>
	        <td class="lectures">
	        	<a href="schedule2011.html#<%= person.name.replace('.', '').split(' ').join('').toLowerCase() %>"><%= person.exhibitTitle %></a><br />
	        	<span><a href='presenters2011.html#<%= person.name.replace('.', '').split(' ').join('').toLowerCase() %>'><%= person.name %></a></span>
	        	<% if(person.twitter){ %>
			            <a target="_blank" class="twitter" href='http://twitter.com/<%= person.twitter %>'><%= person.twitter %></a>
				<% } %>
	        </td>
		  </tr>
		<% }); %>
    </table>
    <footer>
    <a href="/schedule2011.html">Full Schedule → </a>
    </footer>
  <% } %> 
</script>
  <section class="finalSchedule">
  </section>