---
layout: default
title: betascape / Baltimore MD / September 23-25

promo:
  headline: Come to free events on Friday and register for Saturday and Sunday events
  rest: Tickets include <a href="">lectures and workshops</a> on Saturday and <a href="">CreateCamp</a> on Sunday plus breakfast and lunch both days.

description: Betascape is a weekend of Art and Technology in Baltimore MD. Come learn, connect, and create something with other artists, technologists, and everyone in between.

overview:
  - day: Friday&nbsp;Night
    what: <a href="http://outletbaltimore.tumblr.com/" target="_blank">Outlet Baltimore</a> Relaunch Party, 6pm @ <a href="http://thewindupspace.com/" target="_blank">Windup Space</a>
  - day: Friday&nbsp;Night
    what: <a href="http://www.literaturepartybaltimore.info/" target="_blank">Literature Party</a> by Publishing Genius, 8pm @ <a href="http://themetrogallery.net/" target="_blank">Metro Gallery</a>
  - day: Saturday&nbsp;Day
    what: Lectures, conversations and workshops.
  - day: Saturday&nbsp;Night
    what: <a href="/blockparty.html">Station North Block Party</a> from 6pm featuring bands and Baltimore's Food Trucks.
  - day: Sunday
    what: CreateCamp is basically a mini-hackathon, with the intent to get people experimenting and collaborating after spending the day before learning and meeting people

supporters:
  - UMBC
  - Hopkins Digital Media Lab
  - High Zero
  - BMA
  - Baltimore Node
  - Load of Fun
  - Joe Squared
  - GBTC

---
<script>
$(function(){
/*
$('.attendees').eventbrite_attendees({
  app_key: 'C2TEMDHGVVBC7PVYUN',
  event_id: '2015326897' //betascape
});
*/

  betascape.getPresenters(function(presenters){
      var listTmpl=_.template($('#people-template').html());
      var html=listTmpl({people : presenters});
      $('.whos-there .presenters').append(html);
  });
  $.getJSON("http://betascape.tumblr.com/api/read/json?num=1&callback=?",function(data,status){
    $('.description .current-blog')
      .html(data.posts[0]["regular-body"]);
  });
});

</script>
<script type="template" id="people-template">
    <% _.each(people, function(person) { %>
      <li class='color<%= parseInt(Math.random()*4) %>'>
        <a href='<%= person.website %>'><%= person.name.replace(" ","&nbsp;") %> </a>
      </li>
    <% }); %>
</script>

<section class="promo">
  <header>
    <h3>{{ page.promo.headline }}</h3>
    {{ page.promo.rest }}
  </header>
  <footer>
    <a href="http://betascape2011.eventbrite.com/">Register For Betascape</a>
  </footer>
</section>

<section class="description">
  <div class="current-blog">{{page.description}}</div>
  <div class="more-blog"><a href="http://betascape.tumblr.com" target="_blank">Read more on our blog → </a></div>
</section>

<div class="overview-locations">
  <section class="locations">
    <header>Event Locations</header>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;ie=UTF8&amp;vpsrc=0&amp;msid=200303818173214935563.0004aac0452b1f8a2073e&amp;ll=39.310044,-76.617812&amp;spn=0.002395,0.002583&amp;output=embed"></iframe>
    <footer>
    <a href="http://maps.google.com/maps/ms?msid=200303818173214935563.0004aac0452b1f8a2073e&msa=0" target="_blank">View in own window → </a>
    </footer>
  </section>
  <section class="overview">
    <header>Betascape Overview</header>
    <table>
      {% for item in page.overview %}
      <tr class="{% cycle 'odd', 'even' %} ">
        <td>{{item.day}}</td><td>{{item.what}}</td>
      </tr>
      {% endfor %}
    </table>
    <footer>
    <a href="/schedule.html">Full Schedule → </a>
    </footer>
  </section>
</div>

<section class="whos-there">
  <header><h4>Who's going to be there?</h4></header>
  <ul class="presenters"></ul>
  <!--<div class="attendees">&nbsp;</div>-->
</section>

<section class="sponsorship">
  <section class="sponsors">
    <header>
      <h4  id="sponsorship" >Sponsors<h4>
    </header>
    <a href="http://rwdfoundation.org/" target="_blank"><img src="/img/sponsorship/rwdlogo.png" title="The Robert W. Deutsch Foundation (Premier Sponsor)" /></a>
    <h5>Thanks to our Premier Sponsor The Robert W. Deutsch Foundation</h5>
    <a href="http://www.mindgrub.com/" target="_blank"><img src="/img/sponsorship/mindgrublogo.png" title="The Robert W. Deutsch Foundation (Premier Sponsor)" /></a>
    <h5>Mindgrub</h5>
    <a href="http://www.zynga.com/" target="_blank"><img src="/img/sponsorship/zyngalogo.png" title="The Robert W. Deutsch Foundation (Premier Sponsor)" /></a>
    <h5>Zynga</h5>
    <a href="http://www.simplyevolve.com/" target="_blank"><img src="/img/sponsorship/zyngalogo.png" title="The Robert W. Deutsch Foundation (Premier Sponsor)" /></a>
    <h5>Evolve Communications</h5>
    <a href="http://www.figure53.com/" target="_blank"><img src="/img/sponsorship/zyngalogo.png" title="The Robert W. Deutsch Foundation (Premier Sponsor)" /></a>
    <h5>Figure 53</h5>
  </section>

  <section class="partners">
    <header>
      <h4>Partners<h4>
    </header>
    <a href="http://stationnorth.org" target="_blank"><img src="/img/sponsorship/stationnorthlogo.gif" title="Station North" /></a>
    <a href="http://mica.edu" target="_blank"><img src="/img/sponsorship/micalogo.gif" title="MICA" /></a>
  </section>

  <section class="supporters">
    <header>
      <h4>Friends of Betascape<h4>
    </header>
    <ul>
    {%for supporter in page.supporters%}
      <li>{{supporter}}</li>
    {% endfor %}
    </ul>
  </section>
</section>

<section class="twitter">
<header>
Follow <a href="https://twitter.com/betascape" target="_blank">@Betascape</a> on Twitter. Use <a href="https://twitter.com/search/%23betascape">#betascape</a> to join the Conversation.
</header>
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 3,
  interval: 6000,
  width: 'auto',
  height: 'auto',
  theme: {
    shell: {
      background: 'transparent',
      color: '#000000'
    },
    tweets: {
      background: 'transparent',
      color: '#000000',
      links: '#000000'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('betascape').start();
</script>
</section>

