---
layout: default
title: betascape / Baltimore MD / September 23-25

promo:
  headline: Come to free events on Friday and register for Saturday and Sunday events
  rest: Tickets include <a href="">lectures and workshops</a> on Saturday and <a href="">CreateCamp</a> on Sunday plus breakfast and lunch both days.

description: Betascape is a weekend of Art and Technology in Baltimore MD. Come learn, connect, and create something with other artists, technologists, and everyone in between.

overview:
  - day: Thursday Night
    what: Food trucks or something??
  - day: Friday Night
    what: <a href="#">Outlet Baltimore</a> Relaunch Party @ <a href="#">Metro Gallery</a>
  - day: Saturday Day
    what: lectures and stuff
  - day: Saturday Night
    what: Station North Block Party
  - day: Sunday
    what: CreateCamp

supporters:
  - UMBC
  - Hopkins Digital Media Lab
  - High Zero
  - BMA
  - Baltimore Node
  - Load of Fun
  - Joe Squared

---
<section class="promo">
  <header>
    <h3>{{ page.promo.headline }}</h3>
    {{ page.promo.rest }}
  </header>
  <footer>
    <a href="http://betascape2011.eventbrite.com/">Register For Betascape</a>
  </footer>
</section>

<section class="description">
<div>{{page.description}}</div>
</section>

<div class="overview-locations">
  <section class="locations">
    <header>Event Locations</header>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=200303818173214935563.00045244f82ce319b693e&amp;hl=en&amp;ie=UTF8&amp;vpsrc=0&amp;z=15&amp;output=embed"></iframe>
  </section>
  <section class="overview">
    <header>Betascape Overview</header>
    <table>
      {% for item in page.overview %}
      <tr class="{% cycle 'odd', 'even' %} ">
        <td>{{item.day}}</td><td>{{item.what}}</td>
      </tr>
      {% endfor %}
    </table>
    <footer>
    <a href="#">Full Schedule → </a>
    </footer>
  </section>
</div>

<section class="whos-there">
  <header><h4>Who's going to be there?</h4></header>
  <div class="attendees">&nbsp;</div>
</section>

<section class="sponsorship">
  <section class="sponsors">
    <header>
      <h4  id="sponsorship" >Our Sponsors<h4>
    </header>
    <a href="http://rwdfoundation.org/" target="_blank"><img src="/img/sponsorship/rwdlogo.png" title="The Robert W. Deutsch Foundation (Premier Sponsor)" /></a>
    <h5>Thanks to our Premier Sponsor The Robert W. Deutsch Foundation</h5>
  </section>

  <section class="partners">
    <header>
      <h4>Our Partners<h4>
    </header>
    <a href="http://stationnorth.org" target="_blank"><img src="/img/sponsorship/stationnorthlogo.gif" title="Station North" /></a>
    <a href="http://mica.edu" target="_blank"><img src="/img/sponsorship/micalogo.gif" title="MICA" /></a>
  </section>

  <section class="supporters">
    <header>
      <h4>Our Supporters<h4>
    </header>
    <ul>
    {%for supporter in page.supporters%}
      <li>{{supporter}}</li>
    {% endfor %}
    </ul>
  </section>
</section>
