---
layout: default
title: betascape presenters 2011
---
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js"></script>
<script>
$(function(){
 $.getJSON(
      "https://spreadsheets.google.com/feeds/cells/0AvQ7pVUg-X_RdDlYZ0hUNVFOWEItMTBqNGk4YkFuUkE/od6/public/basic?authkey=CN2q874D&alt=json-in-script&callback=?",
      function(data,status){
        var rows=_.groupBy(data.feed.entry,function(e){return e.title.$t.match(/[A-Za-z]+(\d+)/)[1];})
        var presenters=_.map(rows,function(row){
          var presenter={};
          var lectureTypeLookup={i:"Interactive Lounge",l:"Lectures",w:"Workshops"};
          $.each(row,function(colIdx){
            var col=row[colIdx];
            var colLetter=col.title.$t.match(/([A-Za-z]+)\d+/)[1].toLowerCase();
            var content=col.content.$t;
            if(colLetter==="a"){
                presenter.lectureType=lectureTypeLookup[ content.toLowerCase() ];
              }else if(colLetter==="b"){
                presenter.name=content;
              }else if(colLetter==="c"){
                presenter.bio=content;
              }else if(colLetter==="d"){
                presenter.website=content;
              }else{
                if(typeof(console)!="undefined"){
                  console.log('whats that?',colLetter,content);
                }
            }
          });
          return presenter;
        });
        var headers=presenters.shift();
        var byPresentType=_.groupBy(presenters,function(presentor){return presentor.lectureType;});
        var listTmpl=_.template($('#people-template').html());
        var html=listTmpl({byPresentType : byPresentType});
        $('.presenters').append(html);
      });
});

</script>
<script type="template" id="people-template">
  <% for(var presentType in byPresentType){ %>
    <% var people=byPresentType[presentType]; %>
    <li>
    <h3><%= presentType %></h3>
    <ul>
    <% _.each(people, function(person) { %>
      <li class='presenter'>
        <h4><a href='<%= person.website %>'><%= person.name %></a></h4>
        <p class='bio'><%= person.bio %></p>
      </li>
    <% }); %>
    </ul>
    </li>
  <% } %>
</script>
<section class="presenters2011">
  <header><h2>Presenters 2011</h2></header>
  <ul class="presenters"></ul>
</section>

