---
layout: default
title: betascape schedule 2011
---
<script>
$(function(){
  betascape.changeCurrent('schedule')

  betascape.getPresenters(function(presenters){
      var byPresentType=_.groupBy(presenters,function(presentor){return presentor.lectureType;});
      var listTmpl=_.template($('#schedule-template').html());
      var html=listTmpl({byPresentType : byPresentType});
      $('.exhibits2011 .exhibits').append(html);
  });
});

</script>
<script type="template" id="schedule-template">
  <% for(var presentType in byPresentType){ %>
    <% var people=byPresentType[presentType]; %>
    <li class="exhibitSection <%= presentType.split(' ').join('').toLowerCase() %>">
    <h3><%= presentType %></h3>
    <ul>
    <% _.each(people, function(person) { %>
		<% if(person.exhibitTitle || presentType == 'CreateCamp Facilitator'){ %>      
	      <li class='exhibit'>
	        <h4>
	          <%= person.exhibitTitle %>
	        </h4>
	        <p class="presenter">
	          <a href='presenters2011.html#<%= person.name.replace('.', '').split(' ').join('').toLowerCase() %>'><%= person.name %></a>
	          <% if(person.twitter){ %>
	            <a target="_blank" class="twitter" href='http://twitter.com/<%= person.twitter %>'><%= person.twitter %></a>
	          <% } %>
				
			  <% if(person.secondPresenter){ %>
		          & <a href='presenters2011.html#<%= person.secondPresenter.replace('.', '').split(' ').join('').toLowerCase() %>'><%= person.secondPresenter %></a>
		          <% if(person.twitter){ %>
		            <a target="_blank" class="twitter" href='http://twitter.com/<%= person.secondPresenterTwitter %>'><%= person.secondPresenterTwitter %></a>
		          <% } %>
		      <% } %>
	        </p>
	        <p class='description'><%= person.atBetascape %></p>
	      </li>
	     <% } %>
    <% }); %>
    </ul>
    </li>
  <% } %>
</script>
<section class="exhibits2011">

	<header><h1>Betascape 2011 Schedule</h1></header>
	
	<h2 class="friday">Friday: Kickoff Events</h2>
	<div class="friday">
		<header><h3><a href="http://outletbaltimore.tumblr.com/">Outlet Baltimore</a></h3></header>
		<p>Outlet is dedicated time for bringing interesting people together offline to cut through the noise and enjoy good company. We believe that doing this has great, if perhaps unmeasurable, value.</p>
		
		<p>Accomplish that much first. Then, if the fit is right, we can talk a little business.</p>
		<header><h3><a href="http://www.literaturepartybaltimore.info/">Literature Party</a></h3></header>
		<p>A night of literature and party benefiting CityLit with BLAKE BUTLER and CACONRAD and DOTTIE LASKY and MIKE YOUNG and DJ John Eaton to spin off a dance party</p>
	</div>
	
	<h2 class="saturday_am">Saturday 9AM - 5PM: Lectures, Workshops &amp; Conversations</h2>
	<div class="saturday_am">
		<p>This day of learning is divided into 3 types of activities, listed below. Lectures and Workshops aim to impart skills that can be used to innovate and Conversations are aimed at providing opportunities to explore discussion topics with a group.</p>
		<ul> 
		<li> 
			<p>Badge and Bag Pick Up: 8AM - 5PM</p> 
		</li> 
		<li> 
			<p>Breakfast: 9AM - 10AM</p> 
		</li>  
		<li> 
			<p>Learning Series: 10AM - 5PM</p> 
			<ul> 
				<li>Lectures: 8, 40-minute Lectures</li> 		 
				<li>Workshops: 12, 75-minute workshops, 4 held in the Baltimore Node, 4 held in the Load of Fun theatre and 4 held in Hour Haus studio space.</li> 
				<li>Conversations: 8 40-minute conversations that will range from discussion to panels</li> 
			</ul> 
		</li>  
		<li> 
			<p>Lunch: 1PM - 2PM</p> 
		</li> 
		</ul>
	</div>
	
	<h2 class="saturday_pm">Saturday 5PM - 12am: Station North Block Party at Betascape</h2>
	<div class="saturday_pm">
		<p>After your day of learning &amp; listening, come relax or even rock out at the Station North Music Festival. This event is free and open to the public.</p> 
	</div>
	
	<h2 class="sunday">Sunday 9AM - 5PM: CreateCamp</h2>
	<div class="sunday">
		<p>Betascape attendees will be given space and in some cases resources, to come together to work on mini projects where they can explore new ideas and concepts that emerge from the series of Betascape events. Some CreateCamp projects will be preplanned and many will be the spontaneous result of inspiration and new ideas. From 4-5PM, CreateCamp Projects will be presented, and awards will be given for the most novel and innovative projects. Note: We will be making a list of facilitators public shortly and we encourage you to reach out to them if you want to collaborate with them on a project</p> 
	</div>
	
	<h2 class="full_schedule">Saturday Exhibits</h2>
	<div class="full_schedule">
		<ul class="exhibits"></ul>
	</div>
</section>