<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=1024" />
  <link rel="stylesheet" href="css/978.css" type="text/css">
	<link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body>
<div class="wrapper">
  <div id="header_row" class="row">
    <div class="col3">
      <a href="/"><img src="images/logo.gif" width="222" height="156" alt="Ignite Baltimore Logo"></a>
    </div>
    <div id="header_text">
      <h1>Betascape</h1>
      <div id="top_links">
        <div>
          <a href="about">ABOUT</a>
          <a href="speaking">SPEAKING</a>
          <a href="mailing_list">MAILING LIST</a>
          <a href="contact">CONTACT</a>
        </div>
        <div>&nbsp;</div>
      </div>
    </div>
    <div>&nbsp;</div>
  </div>

  {{ content }}

  <p id="footer" class="row">
  </p>
</div>
<script type="text/javascript">
  console.log("fill in analytics code");
  var _gaq=[['_setAccount','UA-***TODO**FILL**ME**IN****-1'],['_trackPageview'],['_trackPageLoadTime']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
