<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{page.title}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link href='http://fonts.googleapis.com/css?family=Numans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/screen.css">
  <script src="js/libs/modernizr-1.7.min.js"></script>


  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.6.2.min.js'>\x3C/script>")</script>


  <script src="http://processingjs.org/content/download/processing-js-1.2.3/processing-1.2.3.min.js"></script>
  <script>window.Processing || document.write("<script src='js/libs/processing-1.2.3.min.js'>\x3C/script>")</script>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <!-- end scripts-->


</head>

<body lang="en">
  <section class="site-links">
	  	<nav>
			 <ul>
			 	<li class="current"><a href="/">Home</a></li>
			 	<li><a href="#">Schedule</a></li>
			 	<li><a href="#">Exhibitors</a></li>
				<li><a href="#">Sponsors</a></li>
				<li><a href="#">About</a></li>
				<li class="register"><a href="http://betascape2011.eventbrite.com/">Register Now ($30)</a></li>
			 </ul>
      <header class="date">
        The Weekend of September 23-25 in <a href="http://www.stationnorth.org/" target="_blank">Station North</a>
      </header>
      </nav>
  </section>
    {% include ribbons.html %}
    <div id="wrapper_container">
    <div id="container">
      <header>
        <hgroup class="view-source">
         <a href="https://github.com/kylefritz/betascape-site-2011" target="_blank">View Source</a>
        </hgroup>
        <hgroup class="logo">
          <h1>betascape</h1>
          <a href="/"><img src="/img/betascape-2011-logo.png" width="344" /></a>
        </hgroup>
      </header>

      {{ content }}

    </div>
    </div>

    <footer>

    </footer>

  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg");</script>
  <![endif]-->

  <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]]; // Change UA-XXXXX-X to be your site's ID 
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>
